<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0vw;
  "
>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
    "
  >
    <h3 style="margin: 5vh 0vw">Listes Des Produits</h3>
    <div class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Filter"
        aria-label="Filter"
        [(ngModel)]="filter"
      />
    </div>
  </div>
  <table class="table" style="width: 70%; text-align: center">
    <!-- // *ngIf="filterProduct ; else vide" -->
    <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of filterProduct">
      <tr [ngStyle]="{ color: getColor(product.quantity) }">
        <td><img [src]="product.image" width="100px" /></td>
        <th scope="row">{{ product.id }}</th>
        <td>
          <a [routerLink]="['/product', product.id]">{{
            product.name | uppercase
          }}</a>
        </td>
        <td>{{ product.price | number : ".2-2" }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button (click)="deleteProduct(product.id)" class="btn btn-danger">
            supprimer</button
          >
          <button (click)="route.navigate(['/product', product.id])" class="btn btn-primary">
            editer
          </button>
        </td>
      </tr>
    </tbody>
    <!-- <ng-template #vide>no products</ng-template> -->
  </table>
</div>
<app-footer></app-footer>